/* Mix de normalize  y reset */
@import './normalize.css';
/* Variables Custom Properties */
@import './variables.css';
/* Partes */
@import './header.css';

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

main {
    min-height: calc(100vh - var(--header-height));
    background-image: url('../images/mountain-town.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: #fff;

    /* & h1,
    & h2,
    & h3 {
        color: #fff;
    } */

    & h1 {
        font-size: 3rem;

        &:hover {
            cursor: pointer;
            color: #2c3e50;
        }
    }
    &.active {
        color: red;
    }
    & .on {
        color: green;
    }
}
.box-container {
    width: 50%;
    border: solid 2px white;
}
.box {
    width: 100%;
    border: solid 2px red;
    border-radius: 5px;
}
.box:container(width < 300px) {
    border: solid 2px green;
}
.box:container(width > 500px) {
    color: purple;
}
