/* Mix de normalize  y reset */
@import './normalize.css';
/* Variables Custom Properties */
@import './variables.css';
/* Mixins */
@import './mixins.css';
/* Partes */
@import './header.css';

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

main {
    min-height: calc(100vh - var(--header-height));
    background-image: image-set(
        url('../images/DC-section-1.png') 1x,
        url('../images/DC-section-1@2x.png') 2x,
        url('../images/DC-section-1@3x.png') 3x
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    color: #000;

    & h1 {
        font-size: 3rem;

        &:hover {
            color: red;
        }
    }
}
.box-container {
    width: 50%;
    color: #fff;
    background: #000;
}
.box {
    width: 80%;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 15px;

    & ul {
        list-style: none;

        & li {
            color: $color-primario;

            color: color($color-primario a(50%));
            @include font-size(16px, 22px, normal);
        }
    }
}
.box:container(width < 500px) {
    border: solid 4px green;
}
.box:container(width > 500px) {
    border: solid 4px red;
}
.box:container(300px < width < 500px) {
    color: green;
}
.box:container(width > 700px) {
    border: solid 4px violet;
}
